.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: calc(0.25rem * var(--core-scale, 1));
  margin: 0;
  padding: calc(0.45rem * var(--core-scale, 1));
  background-color: var(--color-primary-main);
  border: 0;
  border-radius: 8px;
  font-size: calc(1rem * var(--core-scale, 1));
  font-weight: 300;
  color: var(--color-primary-contrast);
  cursor: pointer;

  & svg {
    height: calc(1.75rem * var(--core-scale, 1));
    width: auto;
    fill: currentColor;
    opacity: 0.85;
  }

  & span {
    background-color: transparent;
    color: currentColor;
    margin: 0 calc(0.25rem * var(--core-scale, 1));
    line-height: 1.2;
  }

  &:hover {
    background-color: var(--color-primary-dark);

    & svg {
      opacity: 1;
    }
  }

  &:focus-visible {
    outline: 2px solid var(--color-primary-contrast);
    outline-offset: -6px;
  }

  &--secondary {
    background-color: transparent;
    border-width: 2px;
    border-style: solid;
    border-color: var(--color-primary-main);
    color: var(--color-primary-main);
    font-weight: 500;

    &:hover {
      background-color: var(--color-primary-main);

      & span {
        color: var(--core-text-inverted);
      }
    }

    &:focus-visible {
      outline: 2px solid var(--color-primary-main);
      outline-offset: -4px;
    }
  }

  &--inverted {
    border-color: var(--core-text-inverted);
    color: var(--core-text-inverted);

    &:hover {
      background-color: var(--core-text-inverted);

      & span {
        color: var(--core-text-color);
      }
    }
  }

  &--tertiary {
    border: 0;
    background-color: transparent;
    color: var(--color-primary-main);
    font-weight: 500;

    &.button--inverted {
      color: var(--core-text-inverted);

      & span {
        color: var(--core-text-inverted);
      }
    }

    &:hover {
      background-color: transparent;
    }
  }

  &--hold-dark {
    border-color: var(--color-grey-1100);
    color: var(--color-grey-1100);

    &:hover {
      background-color: var(--color-grey-1100);

      & span {
        color: var(--color-grey-100);
      }
    }
  }

  &--tight {
    padding: calc(0.25rem * var(--core-scale, 1));

    & span {
      margin: 0 calc(0.125rem * var(--core-scale, 1));
    }
  }

  &:disabled {
    background-color: var(--color-grey-500);
    border-color: var(--color-grey-800);
    cursor: auto;

    & span {
      color: var(--color-grey-800);
    }
  }
}
