.label {
  display: flex;
  flex-direction: column;
  gap: calc(0.125rem * var(--core-scale, 1));
  font-size: calc(0.875rem * var(--core-scale, 1));
  font-weight: 400;
  color: var(--core-text-color);
  margin-left: 2px;
}

.select {
  z-index: 2500;
  overflow: hidden;
  background-color: var(--core-text-inverted);
  color: var(--core-text-color);
  border-radius: 6px;
  box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35), 0px 10px 20px -15px rgba(22, 23, 24, 0.2);

  & .select__item {
    font-size: calc(0.875rem * var(--core-scale, 1));
    line-height: 1;
    color: var(--core-text-color);
    border-radius: calc(4px * var(--core-scale, 1));
    display: flex;
    align-items: center;
    padding: calc(0.5rem * var(--core-scale, 1)) calc(0.625rem * var(--core-scale, 1));
    position: relative;
    user-select: none;

    &[data-disabled] {
      color: var(--color-grey-400);
      pointer-events: none;
    }

    &[data-highlighted] {
      outline: none;
      background-color: color-mix(in srgb, var(--color-primary-main), transparent 80%);
      color: var(--core-text-color);
    }
  }
}

.select-trigger {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: calc(4px * var(--core-scale, 1));
  padding: calc(0.5rem * var(--core-scale, 1)) calc(0.625rem * var(--core-scale, 1));
  font-size: calc(0.875rem * var(--core-scale, 1));
  line-height: 1;
  gap: 5px;
  background-color: var(--core-text-inverted);
  color: var(--core-text-color);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border: calc(1px * var(--core-scale, 1)) solid var(--core-text-color);
  border-radius: calc(8px * var(--core-scale, 1));
  cursor: pointer;

  &:hover {
    background-color: var(--core-content-background-300);
  }

  &:focus {
    outline: 2px solid var(--color-primary-main);
    outline-offset: -4px;
  }
}
