.settings {
  display: flex;
  flex-direction: column;
  height: calc(100% - calc(80px * var(--core-scale, 1)));
  padding: calc(1rem * var(--core-scale, 1)) 0 0;

  & .settings__section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1rem 0;
    padding: 0 calc(1rem * var(--core-scale, 1)) 0;
    width: calc(100% - calc(2rem * var(--core-scale, 1)));

    & > h3 {
      margin: calc(0.125rem * var(--core-scale, 1)) 0 calc(0.875rem * var(--core-scale, 1));
      line-height: 1;
      font-size: calc(0.75rem * var(--core-scale, 1));
      font-weight: 600;
      color: var(--color-primary-main);
    }

    & > button {
      margin: 0;
      padding: 0;
      height: calc(42px * var(--core-scale, 1));
      width: 100%;
      text-align: left;
      background-color: transparent;
      border: 0;
      font-size: calc(1rem * var(--core-scale, 1));
      color: var(--core-text-color);

      &:active {
        background-color: color-mix(in srgb, var(--core-text-color), transparent 90%);
      }
    }

    &:first-of-type {
      margin-top: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  & .settings__scale {
    margin: calc(1rem * var(--core-scale, 1)) 0;
  }

  & .settings__version {
    color: var(--core-text-color);
    margin: auto 0 calc(1rem * var(--core-scale, 1)) calc(1rem * var(--core-scale, 1));
    font-size: calc(1rem * var(--core-scale, 1));
  }
}
