.settings {
  min-height: calc(100% - calc(80px * var(--core-scale, 1)));
  padding: calc(1rem * var(--core-scale, 1)) 0 calc((1.5rem * var(--core-scale, 1)) + (64px * var(--core-scale, 1)));

  & > h1 {
    margin: 0;
    font-weight: 400;
    font-size: calc(2.5rem * var(--core-scale, 1));
    color: var(--core-text-color);
    margin: 0 0 calc(0.75rem * var(--core-scale, 1)) calc(1rem * var(--core-scale, 1));
  }

  & .settings__section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: calc(0.5rem * var(--core-scale, 1));
    width: calc(100% - calc(1rem * var(--core-scale, 1)));

    & > * {
      border-radius: calc(2px * var(--core-scale, 1));
    }

    & > *:nth-child(2) {
      border-radius: calc(12px * var(--core-scale, 1)) calc(12px * var(--core-scale, 1))
        calc(2px * var(--core-scale, 1)) calc(2px * var(--core-scale, 1));
    }

    & > *:last-child {
      border-radius: calc(2px * var(--core-scale, 1)) calc(2px * var(--core-scale, 1)) calc(12px * var(--core-scale, 1))
        calc(12px * var(--core-scale, 1));
    }

    &:not(:has(:nth-child(3))) > * {
      border-radius: calc(12px * var(--core-scale, 1));
    }

    & > h3 {
      margin: calc(0.125rem * var(--core-scale, 1)) 0 calc(0.5rem * var(--core-scale, 1))
        calc(0.25rem * var(--core-scale, 1));
      line-height: 1;
      font-size: calc(0.75rem * var(--core-scale, 1));
      font-weight: 600;
      color: color-mix(in srgb, var(--core-text-color), var(--core-text-inverted) 25%);
      padding: calc(0.5rem * var(--core-scale, 1)) calc(0.5rem * var(--core-scale, 1)) 0;
    }

    & > .settings__toggle {
      padding: calc(0.5rem * var(--core-scale, 1)) calc(0.5rem * var(--core-scale, 1))
        calc(0.5rem * var(--core-scale, 1)) calc(0.75rem * var(--core-scale, 1));
      margin: calc(0.125rem * var(--core-scale, 1)) calc(0.5rem * var(--core-scale, 1));
      width: calc(100% - calc(2.25rem * var(--core-scale, 1)));
      background-color: var(--core-content-background-300);
    }

    & > button {
      padding: calc(0.5rem * var(--core-scale, 1)) calc(0.5rem * var(--core-scale, 1))
        calc(0.5rem * var(--core-scale, 1)) calc(0.75rem * var(--core-scale, 1));
      margin: calc(0.125rem * var(--core-scale, 1)) calc(0.5rem * var(--core-scale, 1));
      width: calc(100% - calc(1rem * var(--core-scale, 1)));
      height: calc(46px * var(--core-scale, 1));
      text-align: left;
      background-color: transparent;
      border: 0;
      font-size: calc(1rem * var(--core-scale, 1));
      color: var(--core-text-color);
      background-color: var(--core-content-background-300);

      &:active {
        background-color: color-mix(in srgb, var(--core-text-color), transparent 90%);
      }
    }

    & .settings__readonly {
      padding: calc(0.5rem * var(--core-scale, 1)) calc(0.5rem * var(--core-scale, 1))
        calc(0.5rem * var(--core-scale, 1)) calc(0.75rem * var(--core-scale, 1));
      margin: calc(0.125rem * var(--core-scale, 1)) calc(0.5rem * var(--core-scale, 1));
      width: calc(100% - calc(2.25rem * var(--core-scale, 1)));
      background-color: var(--core-content-background-300);
      color: var(--core-text-color);
      font-size: calc(0.75rem * var(--core-scale, 1));

      & > p {
        font-size: calc(1rem * var(--core-scale, 1));
        color: var(--core-text-color);
        margin: 0 0 calc(0.125rem * var(--core-scale, 1)) 0;
        padding: 0;
      }
    }

    & .settings__fake-item {
      padding: calc(0.5rem * var(--core-scale, 1)) calc(0.5rem * var(--core-scale, 1))
        calc(0.5rem * var(--core-scale, 1)) calc(0.75rem * var(--core-scale, 1));
      margin: calc(0.125rem * var(--core-scale, 1)) calc(0.5rem * var(--core-scale, 1));
      width: calc(100% - calc(2.25rem * var(--core-scale, 1)));
      background-color: var(--core-content-background-300);

      & > .settings__toggle {
        background-color: var(--core-content-background-300);
        margin: 0;
      }

      & > .settings__scale {
        margin: calc(1rem * var(--core-scale, 1)) calc(0.25rem * var(--core-scale, 1))
          calc(0.5rem * var(--core-scale, 1));
        width: calc(100% - calc(0.5rem * var(--core-scale, 1)));
      }
    }

    &:first-of-type {
      margin-top: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  & .settings__scale {
    margin: calc(1rem * var(--core-scale, 1)) 0;
  }

  & .settings__version {
    color: var(--core-text-color);
    margin: auto 0 calc(1rem * var(--core-scale, 1)) calc(1rem * var(--core-scale, 1));
    font-size: calc(1rem * var(--core-scale, 1));
  }
}
