.settings {
  & .settings__section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.15rem;
    margin: calc(max(2.625vh, 1.75rem) * var(--core-scale)) 0;

    & > h3 {
      margin: 0 0 calc(max(0.375vh, 0.25rem) * var(--core-scale));
      font-size: calc(max(1.3125vh, 0.875rem) * var(--core-scale));
      font-weight: 500;
      font-style: italic;
      color: color-mix(in srgb, var(--color-primary-main), var(--core-text-color) 15%);
    }

    &:first-of-type {
      margin: 0 0 calc(max(2.625vh, 1.75rem) * var(--core-scale));
    }

    &:last-of-type {
      padding: 0 0 calc(max(2.625vh, 1.75rem) * var(--core-scale));
    }
  }

  @media screen and (min-width: 768px) {
    width: 100%;
    max-width: 552px;
  }
}
