.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  & .list-item__left {
    & .list-item__label {
      margin: 0;
    }

    & .list-item__value {
      margin: 0;
    }
  }

  & .list-item__date {
    margin: 0;
  }
}