.list-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0.4rem 0;
  color: var(--core-text-color);
  font-size: 0.875rem;
  border-radius: 16px;
  cursor: pointer;
  max-height: 56px;
  margin: 0.75rem 0;

  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  transition-property: background-color, box-shadow, max-height, margin;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.17, 0.33, 0.34, 0.92);

  & > summary {
    display: flex;
    flex-direction: column;
    gap: 0.125rem;
    padding: 0.4rem 0.8rem;
    font-size: 1.35rem;
    list-style-type: none;
    user-select: none;
    font-size: 0.875rem;
    color: color-mix(in srgb, var(--core-text-color), var(--core-content-background-100) 40%);
    font-style: italic;
    height: 56px;

    & > span {
      font-size: 1.25rem;
      color: var(--core-text-color);
      font-style: normal;
    }

    transition-property: padding;
    transition-duration: 175ms;
    transition-timing-function: cubic-bezier(0.17, 0.33, 0.34, 0.92);

    &::-webkit-details-marker {
      display: none;
    }
  }

  & > .list-item__body {
    opacity: 0;

    animation-duration: 0ms;
    animation-name: close;
    animation-fill-mode: forwards;
    animation-delay: 0ms;
  }

  &.list-item--open {
    background-color: var(--core-content-background-300);
    box-shadow: 0 0 2px 4px rgba(0, 0, 0, 0.05);
    max-height: 10rem;
    margin: 0.75rem 0.5rem;

    & > summary {
      padding: 0.8rem 1rem;
    }

    & > .list-item__body {
      animation: 250ms ease-in-out;

      animation-duration: 200ms;
      animation-name: open;
      animation-delay: 100ms;
      animation-fill-mode: forwards;
    }
  }
}

@keyframes open {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes close {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
