.menu-button {
  margin: max(0.375vh, 0.25rem) 0;
  padding: max(0.75vh, 0.5rem) 0;
  background-color: transparent;
  text-align: left;
  width: 100%;
  color: var(--core-text-color);
  border: 0;
}
