.category {
  background-color: var(--core-content-background-300);
  margin: calc(max(1.125vh, 0.75rem) * var(--core-scale));
  padding: 0;
  border-radius: calc(12px * var(--core-scale));
  overflow: hidden;

  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  & .category__summary {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    list-style-type: none;
    color: var(--core-text-color);
    padding: calc(max(1.125vh, 0.75rem) * var(--core-scale)) calc(max(1.125vh, 0.75rem) * var(--core-scale))
      calc(max(1.125vh, 0.75rem) * var(--core-scale)) calc(max(1.5vh, 1rem) * var(--core-scale));
    background-color: var(--core-content-background-100);
    border-radius: calc(12px * var(--core-scale));
    cursor: pointer;

    & .category__text {
      display: flex;
      flex-direction: column;

      & > h2 {
        margin: 0;
        color: currentColor;
        font-size: calc(max(1.875vh, 1.25rem) * var(--core-scale));
        font-weight: 600;
      }

      & > h4 {
        margin: 0;
        color: currentColor;
        font-size: calc(max(1.5vh, 1rem) * var(--core-scale));
        font-weight: 400;
      }
    }

    & > svg {
      width: calc(max(3vh, 2rem) * var(--core-scale));
      height: calc(max(3h, 2rem) * var(--core-scale));
      fill: currentColor;
    }

    &::-webkit-details-marker {
      display: none;
    }
  }

  & .category__body {
    border-radius: 0 0 calc(12px * var(--core-scale)) calc(12px * var(--core-scale));
    padding: 0 calc(max(0.375vh, 0.25rem) * var(--core-scale)) calc(max(0.525vh, 0.35rem) * var(--core-scale));

    & .category__remove-category {
      font-size: calc(max(1.125vh, 0.75rem) * var(--core-scale));
      border: 0;
      border-radius: max(1.5vh, 16px);
      background-color: var(--color-warning-main);
      color: var(--color-warning-contrast);
      margin: max(1.125vh, 0.75rem) max(0.6vh, 0.4rem) max(0.6vh, 0.4rem);
      padding: max(0.375vh, 0.25rem) max(1.125vh, 0.75rem);
      cursor: pointer;
    }
  }
}
