.calendar {
  text-align: left;
  padding: max(0.75vh, 0.5rem) max(1.5vh, 1rem);
  margin: max(0.375vh, 0.25rem) 0;
  border: 0;
  border-radius: calc(max(3vh, 32px) * var(--core-scale, 1));
  font-size: calc(max(1.5vh, 1rem) * var(--core-scale, 1));
  font-style: italic;
  font-weight: 400;
  line-height: 1.1;
  background-color: var(--color-primary-main);
  color: var(--color-common-white);
  cursor: pointer;

  &:focus-visible {
    outline: 2px solid var(--color-primary-main);
    outline-offset: -3px;
  }

  &:hover {
    background-color: color-mix(in srgb, var(--color-primary-main), var(--color-common-black) 10%);
  }

  &:active {
    background-color: color-mix(in srgb, var(--color-primary-main), var(--color-common-black) 20%);
  }

  &.calendar--value {
    font-style: normal;
  }
}

.calendar-menu {
  max-width: 384px;
  width: 100%;

  & .calendar-menu__calendar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    gap: 1.25rem;
    padding: calc(max(0.75vh, 0.5rem) * var(--core-scale, 1)) 0;

    & .calendar-menu__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;

      & > button {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border: 0;
        padding: 0;
        cursor: pointer;

        & > svg {
          width: 1.5rem;
          height: 1.5rem;
        }
      }

      & > h2 {
        margin: 0;
        color: var(--core-text-color);
        font-size: calc(max(1.3125vh, 0.875rem) * var(--core-scale, 1));
        font-weight: 500;
      }
    }

    & .calendar-menu__inner {
      color: var(--core-text-color);
      height: 225px;

      & > table {
        width: 100%;

        & [class~="react-aria-CalendarHeaderCell"] {
          font-weight: 600;
          color: var(--color-grey-800);
        }
      }

      & .calendar-menu__cell {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.15rem;
        border-radius: 10px;

        &:hover {
          cursor: pointer;
          background-color: color-mix(in srgb, var(--color-primary-main), transparent 70%);
        }

        &[data-selected="true"] {
          background-color: var(--color-primary-main);
          color: var(--color-common-white);
        }

        &[data-disabled="true"] {
          opacity: 0.3;
        }
      }
    }
  }
}
