.up-coming {
  max-height: calc(100dvh - calc(64px * var(--core-scale, 1)));
  overflow-y: auto;

  & .up-coming__overview {
    position: sticky;
    top: calc(20px * var(--core-scale, 1));
    background-color: var(--core-content-background-500);
    width: fit-content;
    padding: calc(1rem * var(--core-scale, 1));
    border-radius: calc(12px * var(--core-scale, 1));
    margin: calc(1rem * var(--core-scale, 1));
    color: var(--core-text-color);
    z-index: 100;

    transition-duration: 250ms;
    transition-property: box-shadow;
    transition-timing-function: ease-in-out;

    & .up-coming__month-total {
      line-height: 1;
      font-size: calc(0.75rem * var(--core-scale, 1));

      & > span {
        font-size: calc(1.5rem * var(--core-scale, 1));
        font-weight: 700;
        margin: 0 calc(0.125rem * var(--core-scale, 1)) 0 0;
      }
    }

    & .up-comping__subtle {
      margin: calc(0.25rem * var(--core-scale, 1)) 0 0;
      font-size: calc(0.75rem * var(--core-scale, 1));
      font-style: italic;
      color: color-mix(in srgb, currentColor, transparent 40%);
    }
  }

  & .up-coming__items {
    & .up-coming__date {
      margin: calc(1.25rem * var(--core-scale, 1)) calc(1.25rem * var(--core-scale, 1)) 0;
      color: var(--core-text-color);
      font-size: calc(1rem * var(--core-scale, 1));
    }

    & [class~="list-item"] {
      margin: calc(0.5rem * var(--core-scale, 1)) calc(1rem * var(--core-scale, 1));
    }

    & hr {
      margin: calc(1.25rem * var(--core-scale, 1));
      border: 1px solid var(--core-content-background-400);
    }
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0 auto auto 0;
    width: 100dvw;
    height: 15vh;
    background: linear-gradient(180deg, var(--core-content-background-100) 15%, transparent 100%);
  }

  @media screen and (min-width: 768px) and (min-height: 552px) {
    display: flex;
    flex-direction: row-reverse;

    & .up-coming__overview {
      height: fit-content;
      min-width: 252px;

      & .up-coming__month-total {
        display: flex;
        flex-direction: column;
        line-height: 1.1;
        font-size: calc(1.25rem * var(--core-scale, 1));
        text-align: center;
        margin: calc(0.5rem * var(--core-scale, 1)) 0 calc(0.75rem * var(--core-scale, 1));

        & > span {
          font-size: calc(2rem * var(--core-scale, 1));
          margin: 0 calc(0.25rem * var(--core-scale, 1)) 0 0;
        }
      }

      & .up-comping__subtle {
        margin: calc(0.375rem * var(--core-scale, 1)) 0 0;
        font-size: calc(1rem * var(--core-scale, 1));
        text-align: center;
      }
    }

    & .up-coming__items {
      flex-grow: 1;
    }
  }
}
