.up-coming {
  & .up-coming__overview {
    background-color: var(--core-content-background-500);
    width: fit-content;
    padding: 1rem;
    border-radius: 8px;
    margin: 1.25rem;
    text-align: right;
    line-height: 1.1;
    font-size: 0.875rem;
    color: var(--core-text-color);

    & > span {
      font-size: 1.75rem;
      font-weight: 700;
    }
  }
}