.button {
  position: absolute;
  inset: auto calc(max(1.5vh, 1rem) * var(--core-scale)) calc(max(1.5vh, 1rem) * var(--core-scale)) auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: calc(max(0.75vh, 0.5rem) * var(--core-scale));
  margin: 0;
  background-color: var(--color-primary-main);
  border: 0;
  border-radius: calc(max(4vh, 48px) * var(--core-scale));
  box-shadow: 0 1px 4px 2px rgba(0, 0, 0, 0.1);

  & svg {
    width: calc(max(3.525vh, 2.35rem) * var(--core-scale));
    height: calc(max(3.525vh, 2.35rem) * var(--core-scale));
    fill: var(--color-common-white);

    transition-property: transform;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
  }

  &:hover {
    background-color: color-mix(in srgb, var(--color-primary-main), var(--color-common-black) 10%);
  }

  &:active {
    background-color: color-mix(in srgb, var(--color-primary-main), var(--color-common-black) 20%);
  }

  &.button--open {
    & > svg {
      transform: rotate(45deg);
    }
  }
}

.menu {
  display: flex;
  flex-direction: column;
  gap: calc(max(0.75vh, 0.5rem) * var(--core-scale));
  background-color: transparent;
  border-radius: calc(max(3vh, 32px) * var(--core-scale));
  padding: 0 0 calc(max(0.75vh, 0.5rem) * var(--core-scale)) 0;

  & .menu__button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: calc(max(0.525vh, 0.35rem) * var(--core-scale));
    padding: calc(max(0.75vh, 0.5rem) * var(--core-scale)) calc(max(0.975vh, 0.65rem) * var(--core-scale));
    width: 100%;
    background-color: var(--color-primary-main);
    border: 0;
    border-radius: max(3vh, 32px);
    color: var(--color-common-white);
    box-shadow: 0 1px 4px 2px rgba(0, 0, 0, 0.1);

    & > svg {
      width: calc(max(1.875vh, 1.25rem) * var(--core-scale));
      height: calc(max(1.875vh, 1.25rem) * var(--core-scale));
      fill: currentColor;
    }

    & > span {
      font-size: calc(max(1.5vh, 1rem) * var(--core-scale));
      color: currentColor;
    }

    &:hover {
      background-color: color-mix(in srgb, var(--color-primary-main), var(--color-common-black) 10%);
    }

    &:active {
      background-color: color-mix(in srgb, var(--color-primary-main), var(--color-common-black) 20%);
    }

    &:disabled {
      background-color: var(--color-grey-600);
    }
  }
}
