.modal {
  position: relative;
  box-shadow:
    0 3px 6px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);
  background-color: var(--core-content-background-200);
  border-radius: 12px;
  border-width: 0;
  padding: 0;
  max-height: 80vh;
  max-width: 80vw;

  & .modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - max(2.4375vh, 1.625rem));
    height: calc(64px * var(--core-scale));
    padding: 0 max(1.125vh, 0.75rem) 0 max(1.3125vh, 0.875rem);

    & .modal__title {
      font-size: calc(max(1.875vh, 1.25rem) * var(--core-scale));
      color: var(--core-text-color);
      margin: 0;
      font-weight: 300;
    }

    & .modal__close {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      border: 0;
      margin: 0;
      padding: 0;
      cursor: pointer;

      & > svg {
        width: calc(max(3vh, 2rem) * var(--core-scale));
        height: calc(max(3vh, 2rem) * var(--core-scale));
        fill: var(--core-text-color);
      }

      &:focus-visible {
        outline: 2px solid var(--core-text-color);
      }
    }
  }

  & .modal__body {
    padding: max(1.5vh, 1rem);
  }

  &::backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(51, 51, 51, 0.3);
    backdrop-filter: blur(1px);
    animation: none;
  }

  &:focus-visible {
    outline: 0;
  }

  &[open] {
    animation: show 250ms cubic-bezier(0.4, 0, 0.2, 1) forwards;

    &.modal--closing {
      animation: hide 150ms cubic-bezier(0.4, 0, 0.2, 1) forwards;
    }
  }

  &.modal--mobile-full {
    max-width: unset;
    max-height: unset;
    height: 100%;
    width: 100%;
    margin: 0;
    border-radius: 0;

    & .modal__body {
      width: calc(100% - max(3vh, 2rem));
      height: calc(100% - calc(max(7.875vh, 6.25rem) * var(--core-scale)));
    }

    & .modal__header {
      background-color: var(--core-content-background-100);

      & .modal__title {
        font-size: calc(max(2.25vh, 1.5rem) * var(--core-scale));
      }
    }

    &::backdrop {
      background-color: rgba(51, 51, 51, 0);
    }

    &[open] {
      animation: showFull 250ms cubic-bezier(0.4, 0, 0.2, 1) forwards;

      &.modal--closing {
        animation: hideFull 150ms cubic-bezier(0.4, 0, 0.2, 1) forwards;
      }
    }
  }

  &.modal--mobile-bottom {
    max-width: unset;
    max-height: 95vh;
    width: 100%;
    margin: auto 0 0 0;
    border-radius: 30px 30px 0 0;

    & .modal__header {
      justify-content: center;

      & .modal__close {
        display: none;
      }
    }
  }
}

@keyframes show {
  from {
    opacity: 0;
    transform: translateY(min(100px, 5vh));
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes hide {
  from {
    opacity: 1;
    transform: translateY(0%);
  }
  to {
    opacity: 0;
    transform: translateY(min(100px, 5vh));
  }
}

@keyframes showFull {
  from {
    opacity: 0;
    transform: translateX(min(-35px, -3vw));
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes hideFull {
  from {
    opacity: 1;
    transform: translateX(0%);
  }
  to {
    opacity: 0;
    transform: translateX(min(-35px, -3vw));
  }
}
