.input {
  display: flex;
  flex-direction: column;
  gap: calc(0.125rem * var(--core-scale, 1));
  width: 100%;

  & .input__text {
    font-size: calc(0.875rem * var(--core-scale, 1));
    font-weight: 400;
    color: var(--core-text-color);
    margin-left: 2px;
  }

  & .input__input {
    padding: calc(0.35rem * var(--core-scale, 1)) calc(0.5rem * var(--core-scale, 1));
    border-radius: 6px;
    font-size: calc(1rem * var(--core-scale, 1));
    font-weight: 400;
    border: 2px solid var(--core-text-color);
    background-color: var(--core-content-background-100);
    color: var(--core-text-color);

    &::placeholder {
      font-style: italic;
      color: color-mix(in srgb, var(--core-text-color), var(--core-text-inverted) 65%);
    }

    &:focus-visible {
      outline: 2px solid var(--color-primary-main);
      outline-offset: -3px;
    }

    &:user-invalid {
      outline: 2px solid var(--color-error-main);
      outline-offset: -3px;
    }
  }
}
