.input {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  & .input__label {
    font-size: 1rem;
    font-style: italic;
    margin-left: 0.125rem;
    color: color-mix(in srgb, var(--core-text-color), transparent 25%);
  }

  & .input__input {
    padding: calc(max(0.75vh, 0.5rem) * var(--core-scale, 1));
    border: 0;
    border-radius: 8px;
    font-size: calc(max(1.3125vh, 0.875rem) * var(--core-scale, 1));
    outline: 0;
    border-width: 2px;
    border-style: solid;
    border-color: color-mix(in srgb, var(--core-text-color), var(--core-content-background-100) 50%);
    background-color: var(--core-content-background-100);

    &::placeholder {
      font-style: italic;
      color: color-mix(in srgb, var(--core-text-color), transparent 65%);
    }

    &:focus {
      background-color: color-mix(in srgb, var(--core-text-color), var(--core-content-background-100) 90%);
      border-color: color-mix(in srgb, var(--core-text-color), var(--core-content-background-100) 20%);
      border-width: 2px;
      border-style: solid;
    }
  }
}
