/* FONTS */
@import "./interface/fonts/Poppins/font.css";

html,
body,
#root {
  height: 100%;
  width: 100%;
  font-family: Poppins;
}

#root {
  max-width: 1200px;
  margin: auto;
}

body {
  background-color: var(--core-content-background-100);
  margin: env(safe-area-inset-top) 0 0 0;
  min-height: calc(100vh - env(safe-area-inset-top));
}

button {
  font-family: Poppins;
}
