.toggle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  margin: 0.35rem 0;

  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  & .toggle__label {
    font-size: calc(max(1.5vh, 1rem) * var(--core-scale));
    flex: 1;
    color: var(--core-text-color);
  }

  & .toggle__switch {
    & .toggle__switch-checkbox[type="checkbox"] {
      position: absolute;
      height: 0;
      width: 0;
    }

    & .toggle__switch-highlight {
      cursor: pointer;
      width: calc(60px * var(--core-scale));
      height: calc(30px * var(--core-scale));
      background: var(--color-grey-600);
      display: block;
      border-radius: calc(26px * var(--core-scale));
      position: relative;
    }

    & .toggle__switch-highlight:after {
      content: "";
      position: absolute;
      top: calc(4px * var(--core-scale));
      left: calc(4px * var(--core-scale));
      width: calc(22px * var(--core-scale));
      height: calc(22px * var(--core-scale));
      background: var(--color-common-white);
      border-radius: calc(60px * var(--core-scale));
      transition-property: left, transform;
      transition-duration: 300ms;
      transform: scale(0.8);
    }

    & .toggle__switch-checkbox:checked + .toggle__switch-highlight {
      background: var(--color-primary-main);
    }

    & .toggle__switch-checkbox:checked + .toggle__switch-highlight:after {
      left: calc(100% - (4px * var(--core-scale)));
      transform: translateX(-100%) scale(1);
    }

    & .toggle__switch-checkbox[type="checkbox"]:focus-visible + .toggle__switch-highlight {
      box-shadow: 0px 0px 0px calc(3px * var(--core-scale)) var(--color-primary-light);
    }
  }

  &--disabled {
    & .toggle__switch {
      & .toggle__switch-highlight {
        background: var(--color-grey-500);
      }

      & .toggle__switch-checkbox:checked + .toggle__switch-highlight {
        background: var(--color-grey-500);
      }

      & .toggle__switch-checkbox[type="checkbox"]:focus-visible + .toggle__switch-highlight {
        box-shadow: 0px 0px 0px calc(3px * var(--core-scale)) var(--color-grey-700);
      }
    }
  }
}
