.toggle {
  --toggle-color: var(--color-primary-main);
  --toggle-background: var(--core-content-background-100);

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: calc(0.5rem * var(--core-scale, 1));
  width: 100%;
  margin: calc(0.35rem * var(--core-scale, 1)) 0;
  background-color: color-mix(in srgb, var(--toggle-background), transparent 25%);

  & .toggle__label {
    flex: 1;
    color: var(--core-text-color);
    font-size: calc(1rem * var(--core-scale, 1));
  }

  & .toggle__switch {
    & .toggle__switch-checkbox[type="checkbox"] {
      position: absolute;
      height: 0;
      width: 0;

      &:focus-visible {
        border-color: red;
        border-width: 4px;
        border-style: solid;
      }
    }

    & .toggle__switch-highlight {
      cursor: pointer;
      width: calc(60px * var(--core-scale, 1));
      height: calc(30px * var(--core-scale, 1));
      background: grey;
      display: block;
      border-radius: calc(26px * var(--core-scale, 1));
      position: relative;
    }

    & .toggle__switch-highlight:after {
      content: "";
      position: absolute;
      top: calc(6px * var(--core-scale, 1));
      left: calc(5px * var(--core-scale, 1));
      width: calc(18px * var(--core-scale, 1));
      height: calc(18px * var(--core-scale, 1));
      background: #fff;
      border-radius: calc(60px * var(--core-scale, 1));
      transition: 300ms;
    }

    & .toggle__switch-checkbox:checked + .toggle__switch-highlight {
      background: var(--toggle-color);
    }

    & .toggle__switch-checkbox:checked + .toggle__switch-highlight:after {
      left: calc(100% - (5px * var(--core-scale, 1)));
      transform: translateX(-100%);
      top: calc(4px * var(--core-scale, 1));
      width: calc(22px * var(--core-scale, 1));
      height: calc(22px * var(--core-scale, 1));
    }

    & .toggle__switch-highlight:active:after {
      width: calc(30px * var(--core-scale, 1));
    }

    &:has(.toggle__switch-checkbox:focus-visible) {
      outline: 0;

      & label {
        outline: 2px solid var(--toggle-color);
        outline-offset: 2px;
      }
    }

    &:has(.toggle__switch-checkbox:disabled) {
      --toggle-color: var(--color-grey-500);

      & .toggle__switch-highlight::after {
        transition: none;
        top: calc(6px * var(--core-scale, 1));
        left: calc(5px * var(--core-scale, 1));
        width: calc(18px * var(--core-scale, 1));
        height: calc(18px * var(--core-scale, 1));
      }

      & .toggle__switch-highlight {
        cursor: default;
        background-color: var(--color-grey-500);

        &::after {
          background-color: var(--color-grey-700);
        }
      }

      & .toggle__switch-checkbox:checked + .toggle__switch-highlight::after {
        transform: translateX(-100%);
        left: calc(100% - (5px * var(--core-scale, 1)));
        top: calc(4px * var(--core-scale, 1));
        width: calc(22px * var(--core-scale, 1));
        height: calc(22px * var(--core-scale, 1));
      }
    }
  }

  &.toggle--reverse {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  &.toggle--minimal {
    width: fit-content;
    padding: calc(0.25rem * var(--core-scale, 1));
    border-radius: calc(20px * var(--core-scale, 1));
    gap: calc(0.25rem * var(--core-scale, 1));

    & .toggle__label {
      flex: unset;
    }
  }
}
