.toggle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  margin: 0.35rem 0;

  & .toggle__label {
    flex: 1;
    color: var(--core-text-color);
  }

  & .toggle__switch {
    & .toggle__switch-checkbox[type="checkbox"] {
      position: absolute;
      height: 0;
      width: 0;

      &:focus-visible {
        border-color: red;
        border-width: 4px;
        border-style: solid;
      }
    }

    & .toggle__switch-highlight {
      cursor: pointer;
      width: 60px;
      height: 30px;
      background: grey;
      display: block;
      border-radius: 26px;
      position: relative;
    }

    & .toggle__switch-highlight:after {
      content: "";
      position: absolute;
      top: 6px;
      left: 5px;
      width: 18px;
      height: 18px;
      background: #fff;
      border-radius: 60px;
      transition: 300ms;
    }

    & .toggle__switch-checkbox:checked + .toggle__switch-highlight {
      background: var(--color-primary-main);
    }

    & .toggle__switch-checkbox:checked + .toggle__switch-highlight:after {
      left: calc(100% - 5px);
      transform: translateX(-100%);
      top: 4px;
      width: 22px;
      height: 22px;
    }

    & .toggle__switch-highlight:active:after {
      width: 30px;
    }

    &:has(.toggle__switch-checkbox:focus-visible) {
      outline: 0;

      & label {
        outline: 2px solid var(--color-primary-main);
        outline-offset: 2px;
      }
    }
  }
}
